.container {
    font-family: 'Bellefair', serif;
    display: flex;
}


p {
    
    color: black;
    font-family: "Courier";
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end);
    margin-top: 300px;
    margin-left: 400px;
}

    p:nth-child(2) {
        margin-top: 0;
        animation: type2 4s steps(60, end);
    }



span {
    animation: blink 1s infinite;
}

@keyframes type {
    from {
        width: 0;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }

    50% {
        width: 0;
    }

    100% {
        width: 100;
    }
}

@keyframes blink {
    to {
        opacity: .0;
    }
}

::selection {
    background: black;
}


div.col-10 {
    background-image: url('Images/936945_10200573804660372_1657108061_n (2).jpg');
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

 
